*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-light-hsl: 200, 100%, 91%;
  --primary-hsl: 200, 100%, 50%;
  --primary-dark-hsl: 200, 100%, 6%;
  --success-hsl: 100, 60%, 50%;
  --error-hsl: 0, 60%, 50%;
}

body {
  margin: 0;
}

.full-screen-container {
  background-image: url("./images/background-image.jpg");
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-screen-container::before {
  content: "";
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
}
.main-container {
  z-index: 2;
  --color: hsl(var(--primary-dark-hsl), 0.7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
}

.main-title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.form-group label {
  color: white;
  font-weight: lighter;
}

.form-group input {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: hsl(var(--primary-light-hsl), 0.3);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-weight: lighter;
}

.form-group.success input {
  box-shadow: 0 0 0 1px hsl(var(--success-hsl));
}

.form-group.error input {
  box-shadow: 0 0 0 1px hsl(var(--error-hsl));
}

.form-group input:focus {
  box-shadow: 0 0 0 1px hsl(var(--primary-hsl));
}

.form-group .error-message,
.form-group span.error-message {
  position: relative;
  margin-left: auto;
  color: #ccc;
  font-size: 0.75rem;
}

.form-group.success .error-message,
.form-group.error .error-message,
.form-group.success span.error-message,
.form-group.error span.error-message {
  display: block;
}

.form-group.error .error-message,
.form-group.error span.error-message {
  color: hsl(var(--error-hsl));
}

.form-group.success .error-message,
.form-group.success span.error-message {
  color: hsl(var(--success-hsl));
}

.main-form button[type="submit"] {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: hsl(var(--primary-hsl), 0.25);
  border: 1px solid hsl(var(--primary-hsl));
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
}

.main-form button[type="submit"]:hover,
.main-form button[type="submit"]:focus {
  background-color: hsl(var(--primary-hsl), 0.4);
}

.main-form button[type="button"] {
  width: 15rem;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: lighter;
  color: #fff;
  border-radius: 8px;
  background-color: transparent;
}
.main-form .sub-actions {
  display: flex;
  justify-content: space-between;
}
.main-form button[type="button"]:hover,
.main-form button[type="button"]:focus {
  background-color: hsl(var(--primary-hsl), 0.4);
}
